# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints/

# Node (in case of frontend or js libs)
node_modules/

# Build artifacts
build/
dist/
*.egg-info/

# Temporary files
*.swp
*.bak
*.tmp



*.pyc
env/
staticfiles/